<!DOCTYPE html>
<html>
<head>
  <title>Palkanlaskenta</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="header">
	<div id="logo">
		<h1>EIR v.0.1a</h1>
	</div>

	<div id="menu">
		<ul>
			<li><a href="/reporting">Reporting dashboard (shifts / reporting)</a></li> |
			<li><a href="/shifts">Time logging (shifts)</a></li> |
			<li><a href="/sales">Sales reporting</a></li> |
			<li><a href="/employments">Project assignments (employments)</a></li> |
			<li><a href="/employees">Employee management</a></li> |
			<li><a href="/projects">Project management</a></li>
		</ul>
	</div>
	<hr />
	
</div>



<%= yield %>

</body>
</html>
